<!--
  Generated template for the CreateGoalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="title_main">

    <ion-navbar>
        <ion-title><img src="assets/imgs/logo.png" alt=""> Change Password</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding class="bg_main">
    <br>
    <br><br>
    <h2 class="label_header">
        Change Password<br>
        <span>Please fill out the information to change your password.</span>
    </h2>

    <ion-list class="form_main">
        <br>

        <ion-item>
            <ion-input [(ngModel)]="userData.old_password" type="text" value="" placeholder="Current Password*"></ion-input>
        </ion-item>
        <span class="msgErr" *ngIf="errMsg && !userData.old_password">Please enter your Current Password</span>
        <br>
        <ion-item>
            <ion-input type="text" [(ngModel)]="userData.password" value="" placeholder="New Password*"></ion-input>
        </ion-item>
        <span class="msgErr" *ngIf="errMsg && !userData.password">Please enter your New Password</span>
        <ion-item>
            <ion-input type="text" [(ngModel)]="userData.cnfm_password" value="" placeholder="Confirm Password*"></ion-input>
        </ion-item>

        <span class="msgErr" *ngIf="errMsg && (userData.cnfm_password != userData.password)">Passwords do not match</span>

        <button class="btntheme" ion-button block (click)="changePsd()">SAVE</button>

    </ion-list>
</ion-content>