page-changepassword {
    .back-button {
        color: $white;
    }
    .text-input {
        text-align: left !important;
        padding-left: 15px !important;
    }
    .back-button-text {
        display: none;
    }
    .label_header {
        text-align: center;
        color: #fff;
        font-size: 2.4rem;
        span {
            font-size: 1.6rem !important;
        }
    }
    .range [range-right] {
      margin: 34px 12px 0 0!important;
     }
     .range [range-left] {
      margin: 35px 12px 0 0!important;
     }
}