<!--
  Generated template for the ResetpasswordPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>resetpassword</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding class="bg_main">
    <ion-list class="logo_login">
        <img src="assets/imgs/logo.png" alt="">
    </ion-list>
    <h2 class="label_header">
        Create New Password,<br>
    </h2>

    <ion-list padding class="form_main">

        <ion-item class="inputudr">
            <ion-input [(ngModel)]="password" type="password" value="" placeholder="New Password"></ion-input>
        </ion-item>
        <span class="msgErr" *ngIf="errMsg && !password">Please enter your New Password</span>
        <ion-item class="inputudr">
            <ion-input [(ngModel)]="cmpassword" type="password" value="" placeholder="Confirm Password"></ion-input>
        </ion-item>
        <span class="msgErr" *ngIf="errMsg && (cmpassword != password)">Your Password and Confirmation Password do not match</span>

        <button class="btntheme" (click)="resetPassword()" ion-button block>SAVE</button>

    </ion-list>

</ion-content>