<!--
  Generated template for the AlampagePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="title_main">

    <ion-navbar>
        <ion-title>
            <img src="assets/imgs/logo.png" alt=""> My Workout</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding class="inner_bg no-padding">



    <!-- <div style="text-align:center"> 
        <button (click)="playPause()">Play/Pause</button> 
        <button (click)="makeBig()">Big</button>
        <button (click)="makeSmall()">Small</button>
        <button (click)="makeNormal()">Normal</button>
        <br><br>
        <video id="video1" width="420">
          <source src="http://10.10.10.254/bibinv/1.mp4" type="video/mp4">
         </video>
      </div> -->


    <!-- class="video_cover" -->
    <div *ngIf="!isVideo" class="video_cover"> <img (click)="startVideo()" src="{{workout.image}}"></div>

    <video *ngIf="isVideo" autoplay id="video1" controls="controls" preload="metadata" webkit-playsinline="webkit-playsinline"
        class="videoPlayer">
        <source src="{{workout.video}}" type="video/mp4" />
        </video>
        <!-- <ion-item class="item_cstm">
        <button (click)="playPause()" class="ply">
            <ion-icon name="play" *ngIf="!isPlay"></ion-icon>
            <ion-icon name="pause" *ngIf="isPlay"></ion-icon>
        </button>
    </ion-item> -->


        <button ion-button class="btn_alam" clear item-end (click)="alamPageMyGoals(workout.assigned_id)">
        <img src="assets/imgs/icon-alam.png" alt="">
    </button>
        <ion-item class="tongle_btn lines">



            <ion-label> {{workout.workout_name}}
                <ion-icon *ngIf="workout.workout_details" style="color:#eeae24;font-size: 20px ;margin-left: 15px"
                    (click)="showAlert()" name="information-circle"></ion-icon>
            </ion-label>
        </ion-item>


        <ion-item class="video_style" style="display: flex;">

            <ion-row>
                <ion-col col-12>
                    <ion-list class="lbl">
                        <img src="assets/imgs/dot.png" alt=""> Sets : {{workout.duration}} times</ion-list>
                    <ion-list class="lbl">
                        <img src="assets/imgs/dot.png" alt=""> Rest : {{workout.rest}} min <span *ngIf="workout.rest_sec"> {{workout.rest_sec}} sec</span></ion-list>
                </ion-col>
            </ion-row>



            <ion-row>
                <ion-col col-12>
                    <ion-list class="lbl">
                        <img src="assets/imgs/dot.png" alt=""> Reps : {{workout.repeat_times}} times</ion-list>
                    <ion-list class="lbl">
                        <img src="assets/imgs/dot.png" alt=""> Weight : {{workout.weight}} lbs</ion-list>
                </ion-col>
            </ion-row>


        </ion-item>

        <ion-item class="time_style">
            <ion-item item-start class="lbl">Times (S) today</ion-item>
            <div class="tday">
                <ion-icon name="remove-circle" class="newIcon" (click)="changeCount('remove')"></ion-icon>
                <span class="newspn">{{workout.count}}</span>
                <ion-icon name="add-circle" class="newIcon" (click)="changeCount('add')"></ion-icon>
            </div>


        </ion-item>

        <div padding>
            <button class="btnteme" ion-button block (click)="updateWorkoutCount()">SAVE</button>
        </div>

</ion-content>